page-login {
    .content {
        background: url('../assets/imgs/iconos/splash-login.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
    .wrap {
        height: 100%;
        width: 100%;
    }
}